body,ul,h1,p{
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Mincho Pro';
}
li{
    list-style: none;
}
.site-width{
    width: 980px;
    margin: auto;
}

/*
============================
        ヘッダーCSS
============================
 */
 header{
     height: 100px;
     width :100%;
     position: fixed;
     z-index: 5;
 }
 header.active{
     background: rgba(43, 43, 43, 0.63);
     transition: 0.5s;

 }
 nav.header-nav{
     overflow: hidden;
     float: right;
 }
 ul.header-ul{
     overflow: hidden;
     float: right;
     height: 100px;
 }
 .header-ul li{
     float: left;
     margin-right: 50px;
     font-size: 30px;
     line-height: 100px;
 }
 li a{
     text-decoration: none;
     color: white;
 }
 h1.top-logo{
     display: inline-block;
     padding: 0 0 0 120px;
     line-height: 100px;
     font-size: 55px;
 }
 .top-logo a{
     text-decoration: none;
     color: white;
 }
 .top-logo a:hover{
     color: orange;
 }
 li a:hover{
     color: orange;
 }

/*
===========================
        フッターCSS
===========================
 */
 footer{
     height: 200px;
     background: rgb(43, 43, 43);
     color: white;
     text-align: center;
 }
 ul.footer-nav{
     overflow: hidden;
     display: inline-block;
     margin: auto;
     margin: 45px 0 40px 0;
 }
 .footer-nav li{
     float: left;
     margin-left: 55px;
     border-right: solid 1px white;
     padding-right: 40px;
 }
 .footer-nav li:last-child{
     border: none;
 }
 .footer-nav li a{
     color: white;
 }
 p.footer-coment{
     letter-spacing: 2.5px;
 }
 .scroll-span{
     background: rgb(43, 43, 43);
     font-size: 35px;
     font-weight: bold;
     border-radius: 50%;
     padding: 17px 20px;
     position: relative;
     top: -20px;
     cursor: pointer;
 }
 .footer-nav li a:hover{
     color: orange;
 }
 .scroll-span:hover{
     color: orange;
 }

/*
============================
        TOPタイトル
============================
 */
 .top-title{
    background-image: url(../img/sea-earth-top.jpg);
    background-repeat:  no-repeat;
    background-position: center;
    background-size: 100% 1000px;
    height: 1000px;
    width: 100%;
    text-align: center;
 }
 .top-title h1{
     font-family: "Dancing Script";
     color: white;
     padding-top: 465px;
     font-size: 80px;
     letter-spacing: 12px;
 }

/*
===========================
        TOPコンテンツ
===========================
 */
.top-contents{
    width: 100%;
    background: rgb(241, 241, 241);
}
 .top-content{
     height: 565px;
     text-align: center;
 }
 .top-content h1{
     padding: 150px 0 30px 0;
     font-size: 57px;
     color: rgb(43, 43, 43);
 }
 .top-content p{
     letter-spacing: 2px;
     font-size: 23px;
     color: rgb(43, 43, 43);
     margin-bottom: 40px;
 }
 .top-content a{
     text-decoration: none;
     background: rgb(43, 43, 43);
     color: rgb(241, 241, 241);
     padding: 15px;
     border-radius: 5px;
 }
 .top-content a:hover{
     background: rgb(78, 78, 78);
 }

 /*
===========================
        SUBコンテンツ
===========================
 */
 .sub-contents{
     width: 100%;
     background: rgb(43, 43, 43);
 }
 .sub-content{
     height: 565px;
     text-align: center;
 }
 .sub-content h1{
     padding: 150px 0 30px 0;
     font-size: 57px;
     color: rgb(241, 241, 241);
 }
 .sub-content p{
     letter-spacing: 2px;
     font-size: 23px;
     color: rgb(241, 241, 241);
     margin-bottom: 40px;
 }
 .sub-content a{
     text-decoration: none;
     background: rgb(241, 241, 241);
     color: rgb(43, 43, 43);
     padding: 15px;
     border-radius: 5px;
 }
 .sub-content a:hover{
     background: rgb(196, 196, 196);
 }

  /*
===========================
        Detailコンテンツ
===========================
 */
.detail{
    width: 100%;
    background: rgb(241, 241, 241);
}
.detail-content{
    height: 565px;
    text-align: center;
}
.detail-content h1{
    padding: 150px 0 30px 0;
    font-size: 57px;
    color: rgb(43, 43, 43);
}
.detail-content p{
    letter-spacing: 2px;
    font-size: 23px;
    color: rgb(43, 43, 43);
}


