body,ul,h1,p{
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Mincho Pro';
}
li{
    list-style: none;
}
.site-width{
    width: 980px;
    margin: auto;
}
br.res{
    display: none;
}
.on{
    display: none;
}
.menu{
    width: 40%;
    background: rgba(43, 43, 43, 0.699);
    height: 339px;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    display: none;
}
.menu-ul{
    padding-top: 5px;
}
.menu-ul li{
    border-bottom: solid 1px white;
    margin-top: 15px;
    padding-bottom: 18px;
}
.menu-ul li:last-child{
    border: none;
}
span.comment{
    color: white;
    line-height: 100px;
    margin-right: 25px;
    font-weight: bold;
}
i.fa-bars{
    display: none;
}
i.fa-undo{
    display: none;
}
/*
============================
        ヘッダーCSS
============================
 */
 header{
     height: 100px;
     width :100%;
     position: fixed;
     z-index: 5;
 }
 header.active{
     background: rgba(43, 43, 43, 0.63);
     transition: 0.5s;

 }
 nav.header-nav{
     overflow: hidden;
     float: right;
 }
 ul.header-ul{
     overflow: hidden;
     float: right;
     height: 100px;
 }
 .header-ul li{
     float: left;
     margin-right: 50px;
     font-size: 30px;
     line-height: 100px;
 }
 li a{
     text-decoration: none;
     color: white;
 }
 h1.top-logo{
     display: inline-block;
     padding: 0 0 0 120px;
     line-height: 100px;
     font-size: 55px;
 }
 .top-logo a{
     text-decoration: none;
     color: white;
 }
 .top-logo a:hover{
     color: orange;
 }
 li a:hover{
     color: orange;
 }

/*
===========================
        フッターCSS
===========================
 */
 footer{
     height: 200px;
     background: rgb(43, 43, 43);
     color: white;
     text-align: center;
 }
 ul.footer-nav{
     overflow: hidden;
     display: inline-block;
     margin: auto;
     margin: 45px 0 40px 0;
 }
 .footer-nav li{
     float: left;
     margin-left: 55px;
     border-right: solid 1px white;
     padding-right: 40px;
 }
 .footer-nav li:last-child{
     border: none;
 }
 .footer-nav li a{
     color: white;
 }
 p.footer-coment{
     letter-spacing: 2.5px;
 }
 .scroll-span{
     background: rgb(43, 43, 43);
     font-size: 35px;
     font-weight: bold;
     border-radius: 50%;
     padding: 17px 20px;
     position: relative;
     top: -20px;
     cursor: pointer;
 }
 .footer-nav li a:hover{
     color: orange;
 }
 .scroll-span:hover{
     color: orange;
 }

/*
============================
    プロフィールコンテンツ
============================
 */
.mypage-containers{
    background-image: url(../img/sea-earth-back.jpg);
    background-size: 100% 1300px;
    background-repeat:  no-repeat;
    background-position: center;
    height: 1300px;
}
.mypage-container{
    display: none;
    background: rgba(10, 10, 10, 0.555);
    height: 1300px;
}
.mypage-contents{
    padding-top: 150px;
}
.mypage-content{
    color: rgb(241, 241, 241);
    width: 100%;
    height: 660px;
}
.mypage-content img{
    width: 300px;
    position: relative;
    left: 100px;
    top: 50px;
}
.mypage-content dl{
    float: right;
    font-size: 16px;
}
.mypage-content dl dt{
    font-weight: bold;
    padding: 10px 0;
    border-bottom: solid 1.5px rgb(241, 241, 241);
    margin-bottom: 15px;
    color: orange;
}
.mypage-content h1{
    text-align: center;
    color: rgb(241, 241, 241);
    font-size: 35px;
    margin-bottom: 40px;
}
.text-content{
    color: rgb(241, 241, 241);
}
.text-content h1{
    font-size: 25px;
    border-bottom: 2px solid rgb(241, 241, 241);
}
.scroll{
    overflow: auto;
    height: 400px;
}
.texts{
    margin: 15px 0 0 15px;
    border: 1px solid rgb(241, 241, 241);
    padding: 15px 15px 30px 15px;
    border-radius: 4px;
    max-height: 400px;
    min-height: 400px;
    width: 23%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.678);
    float: left;
}
.texts img{
    width: 200px;
}
.image{
    width: 200px;
    margin: auto;
}
.image img{
    width: 200px;
    height: 200px;
}
.bold{
    font-weight: bold;
    color: orange;
}
a{
    text-decoration: none;
    color: orange;
}
.text-area{
    max-height: 43px;
    overflow: auto;
}
p.fls_msg{
    text-align: center;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    font-weight: bold;
    display: none;
}
a.delete{
    margin-top: 15px;
    display: inline-block;
}
/*
===========================
    レスポンシブ480px
===========================
 */
 @media screen and (max-width: 480px){
    .site-width{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    br.res{
        display: block;
    }
    .on{
        display: block;
    }
    i.fa-bars{
       color: white;
       font-size: 30px;
       cursor: pointer;
       z-index: 11;
       position: fixed;
       right: 25px;
       top: 30px;
       display: block;
   }
   i.fa-undo{
       color: white;
       font-size: 30px;
       cursor: pointer;
       z-index: 11;
       position: fixed;
       right: 25px;
       top: 30px;
   }
   dl.res{
       display: none;
   }

/*
   =======================
           ヘッダ-
   =======================
*/
    h1.top-logo{
        padding: 0 0 0 17px;
        font-size: 27px;
    }
    ul.header-ul{
        display: none;
   }

/*
   ======================
       フッターCSS
   ======================
*/
   footer{
       height: 300px;
   }
   .footer-nav li{
        margin-left: 25px;
        padding: 14px;
        margin: 0;
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
        width: 25%;
   }

/*
   =========================
           TOPタイトル
   =========================
*/
    .mypage-containers{
        background-image: url(../img/sea-earth-top.jpg);
        background-repeat:  no-repeat;
        background-position: center;
        background-size: 100% 1400px;
        height: 1400px;
    }
    .mypage-container{
        height: 1400px;
    }
    .mypage-content{
        height: 700px;
    }
    .mypage-content img{
        width: 140px;
        height: 140px;
        float: left;
        position: relative;
        left: 33px;
    }
    h2.on{
        display: inline-block;
        margin-left: 60px;
        margin-top: 50px;
        color: orange;
        position: relative;
        left: 41px;
    }
    ul.on{
        float: right;
        margin-right: 60px;
        text-align: right;
    }
    ul.on li{
        float: right;
        max-width: 280px;
        min-width: 280px;
    }
    dl.on{
        width: 100%;
        margin-top: 50px;
    }
    dl.on dt{
        padding-left: 10px;
    }
    .text-content{
        margin-top: 30px;
    }
    .texts{
        width: 46%;
    }
    .texts img{
        width: 152px;
        height: 152px;
    }
 }
