body,ul,h1,p{
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Mincho Pro';
}
li{
    list-style: none;
}
.site-width{
    width: 980px;
    margin: auto;
}
i.fa-bars{
    display: none;
}
i.fa-undo{
    display: none;
}
.menu{
    width: 40%;
    background: rgba(43, 43, 43, 0.699);
    height: 339px;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    display: none;
}
.menu-ul{
    padding-top: 5px;
}
.menu-ul li{
    border-bottom: solid 1px white;
    margin-top: 15px;
    padding-bottom: 18px;
}
.menu-ul li:last-child{
    border: none;
}
span.comment{
    color: white;
    line-height: 100px;
    margin-right: 25px;
    font-weight: bold;
}

/*
============================
        ヘッダーCSS
============================
 */
 header{
     height: 100px;
     width :100%;
     position: fixed;
     background: rgba(43, 43, 43, 0.63);
     z-index: 5;
 }
 nav.header-nav{
     overflow: hidden;
     float: right;
 }
 ul.header-ul{
     overflow: hidden;
     float: right;
     height: 100px;
 }
 .header-ul li{
     float: left;
     margin-right: 50px;
     font-size: 30px;
     line-height: 100px;
 }
 li a{
     text-decoration: none;
     color: white;
 }
 h1.top-logo{
     display: inline-block;
     padding: 0 0 0 120px;
     font-size: 55px;
     line-height: 100px;
 }
 .top-logo a{
     text-decoration: none;
     color: white;
 }
 .top-logo a:hover{
     color: orange;
 }
 li a:hover{
     color: orange;
 }

/*
===========================
        フッターCSS
===========================
 */
 footer{
     height: 200px;
     background: rgb(43, 43, 43);
     color: white;
     text-align: center;
 }
 ul.footer-nav{
     overflow: hidden;
     display: inline-block;
     margin: auto;
     margin: 45px 0 40px 0;
 }
 .footer-nav li{
     float: left;
     margin-left: 55px;
     border-right: solid 1px white;
     padding-right: 40px;
 }
 .footer-nav li:last-child{
     border: none;
 }
 .footer-nav li a{
     color: white;
 }
 p.footer-coment{
     letter-spacing: 2.5px;
 }
 .scroll-span{
     background: rgb(43, 43, 43);
     font-size: 35px;
     font-weight: bold;
     border-radius: 50%;
     padding: 17px 20px;
     position: relative;
     top: -20px;
     cursor: pointer;
 }
 .footer-nav li a:hover{
     color: orange;
 }
 .scroll-span:hover{
     color: orange;
 }

/*
==========================
        フォームCSS
==========================
 */
.form-contents{
    margin: auto;
    height: 1200px;
    background-image: url(../img/seapearth-back2.jpg);
    background-repeat:  no-repeat;
    background-position: center;
    background-size: 100% 1200px;
}
.form-contents h1{
    color: rgb(241, 241, 241);
    padding-top: 200px;
    font-size: 40px;
    text-align: center;
}
.form-top{
    background:rgba(10, 10, 10, 0.555);
    display: none;
    height: 1200px;
}
.form-container{
    color: rgb(241, 241, 241);
    margin: auto;
    width: 50%;
    font-size: 18px;
}
input[type="text"],input[type="password"],textarea{
    width: 100%;
    padding: 12px 0;
    margin-bottom: 20px;
    border: none;
}
input[type="submit"]{
    border: none;
    padding: 15px 25px;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    background: orange;
    color: white;
}
.area-drop{
    position: relative;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    margin: 30px 0 30px 0;
    background: rgb(230, 230, 230);
    color: rgb(43, 43, 43);
    border-radius: 3px;
}
input[type="file"]{
    height: 200px;
    width: 200px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    z-index: 3;
}
.prev-img{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
a{
    text-decoration: none;
    color: orange;
}

/*
============================
        エラーメッセージ
============================
 */
 span.error{
     color: rgb(255, 92, 92);
 }

/*
===========================
    レスポンシブ480px
===========================
 */
 @media screen and (max-width: 480px){
    .site-width{
        width: 480px;
    }
    br.res{
        display: block;
    }
    i.fa-bars{
        color: white;
        font-size: 30px;
        cursor: pointer;
        z-index: 11;
        position: fixed;
        right: 25px;
        top: 30px;
        display: block;
    }
    i.fa-undo{
        color: white;
        font-size: 30px;
        cursor: pointer;
        z-index: 11;
        position: fixed;
        right: 25px;
        top: 30px;
    }

/*
   =======================
           ヘッダ-
   =======================
*/
    header{
        width: 480px;
    }
    h1.top-logo{
        padding: 0 0 0 17px;
        font-size: 27px;
    }
    ul.header-ul{
        display: none;
   }
   i.fa-bars{
       color: white;
       font-size: 30px;
       cursor: pointer;
       z-index: 11;
       position: fixed;
       right: 25px;
       top: 30px;
       display: block;
   }
   i.fa-undo{
       color: white;
       font-size: 30px;
       cursor: pointer;
       z-index: 11;
       position: fixed;
       right: 25px;
       top: 30px;
   }

/*
   ======================
       フッターCSS
   ======================
*/
   footer{
       height: 300px;
       width: 480px;
   }
   ul footer.nav{
       width: 480px;
   }
   .footer-nav li{
       margin-left: 25px;
   }

/*
   =========================
           TOPタイトル
   =========================
*/
    .form-contents{
        width: 480px;
        background-image: url(../img/sea-earth-top.jpg);
        background-repeat:  no-repeat;
        background-position: center;
        background-size: 100% 1200px;
        height: 1200px;
    }
    .top-title h1{
        font-size: 30px;
        padding-top: 250px;
    }
 }

