body,ul,h1,p{
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Mincho Pro';
}
li{
    list-style: none;
}
.site-width{
    width: 980px;
    margin: auto;
}
i.fa-bars{
    display: none;
}
i.fa-undo{
    display: none;
}
.menu{
    width: 40%;
    background: rgba(43, 43, 43, 0.699);
    height: 339px;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    display: none;
}
.menu-ul{
    padding-top: 5px;
}
.menu-ul li{
    border-bottom: solid 1px white;
    margin-top: 15px;
    padding-bottom: 18px;
}
.menu-ul li:last-child{
    border: none;
}
span.comment{
    color: white;
    line-height: 100px;
    margin-right: 25px;
    font-weight: bold;
}

/*
============================
        ヘッダーCSS
============================
 */
 header{
     height: 100px;
     width :100%;
     position: fixed;
     z-index: 5;
 }
 header.active{
     background: rgba(43, 43, 43, 0.63);
     transition: 0.5s;

 }
 nav.header-nav{
     overflow: hidden;
     float: right;
 }
 ul.header-ul{
     overflow: hidden;
     float: right;
     height: 100px;
 }
 .header-ul li{
     float: left;
     margin-right: 50px;
     font-size: 30px;
     line-height: 100px;
 }
 li a{
     text-decoration: none;
     color: white;
 }
 h1.top-logo{
     display: inline-block;
     padding: 0 0 0 120px;
     line-height: 100px;
     font-size: 55px;
 }
 .top-logo a{
     text-decoration: none;
     color: white;
 }
 .top-logo a:hover{
     color: orange;
 }
 li a:hover{
     color: orange;
 }

/*
===========================
        フッターCSS
===========================
 */
 footer{
     height: 200px;
     background: rgb(43, 43, 43);
     color: white;
     text-align: center;
 }
 ul.footer-nav{
     overflow: hidden;
     display: inline-block;
     margin: auto;
     margin: 45px 0 40px 0;
 }
 .footer-nav li{
     float: left;
     margin-left: 55px;
     border-right: solid 1px white;
     padding-right: 40px;
 }
 .footer-nav li:last-child{
     border: none;
 }
 .footer-nav li a{
     color: white;
 }
 p.footer-coment{
     letter-spacing: 2.5px;
 }
 .scroll-span{
     background: rgb(43, 43, 43);
     font-size: 35px;
     font-weight: bold;
     border-radius: 50%;
     padding: 17px 20px;
     position: relative;
     top: -20px;
     cursor: pointer;
 }
 .footer-nav li a:hover{
     color: orange;
 }
 .scroll-span:hover{
     color: orange;
 }

/*
============================
    プロフィールコンテンツ
============================
 */
.text-container{
    background-image: url(../img/seapearth-back2.jpg);
    background-size: 100% 1500px;
    background-repeat:  no-repeat;
    background-position: center;
    height: 1500px;
}
.text-contents{
    display: none;
    background: rgba(10, 10, 10, 0.555);
    height: 1500px;
}
.text-content{
    color: rgb(241, 241, 241);
}
.text-content h1{
    font-size: 25px;
    border-bottom: 2px solid rgb(241, 241, 241);
}
.text-content{
    padding-top: 150px;
}
.text{
    margin-top: 30px;
    font-size: 20px;
}
.text img{
    width: 100%;
    height: 700px;
    border-radius: 4px;
    margin-bottom: 35px;
}
a{
    color: orange;
    text-decoration: none;
}
.text-area{
    margin: 0 0 15px 20px;;
}
.text-area-container{
    background: rgba(0, 0, 0, 0.678);
    padding: 30px 30px 100px 30px;
    border-radius: 4px;
}

/*
    ====================
            広告
    ====================
 */
 .kou-container{
     width: 100%;
     position: fixed;
     bottom: 0;
     background: rgba(0, 0, 0, 0.63);
     height: 68px;
     box-sizing: border-box;
     z-index: 10;
 }
 .kou{
    position: fixed;
    width: 40%;
    margin: auto;
    bottom: 0;
    z-index: 10;
    margin-left: 15%;
    height: 68px;
}

/*
===========================
    レスポンシブ480px
===========================
 */
 @media screen and (max-width: 480px){
    .site-width{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    br.res{
        display: block;
    }
    i.fa-bars{
        color: white;
        font-size: 30px;
        cursor: pointer;
        z-index: 11;
        position: fixed;
        right: 25px;
        top: 30px;
        display: block;
    }
    i.fa-undo{
        color: white;
        font-size: 30px;
        cursor: pointer;
        z-index: 11;
        position: fixed;
        right: 25px;
        top: 30px;
    }

/*
   =======================
           ヘッダ-
   =======================
*/
    h1.top-logo{
        padding: 0 0 0 17px;
        font-size: 27px;
    }
    ul.header-ul{
        display: none;
   }
   i.fa-bars{
       color: white;
       font-size: 30px;
       cursor: pointer;
       z-index: 11;
       position: fixed;
       right: 25px;
       top: 30px;
       display: block;
   }
   i.fa-undo{
       color: white;
       font-size: 30px;
       cursor: pointer;
       z-index: 11;
       position: fixed;
       right: 25px;
       top: 30px;
   }

/*
   ======================
       フッターCSS
   ======================
*/
   footer{
       height: 300px;
   }
   .footer-nav li{
        margin-left: 25px;
        padding: 14px;
        margin: 0;
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
        width: 25%;
   }

/*
   =========================
           TOPタイトル
   =========================
*/
    .text-container{
        background-image: url(../img/sea-earth-top.jpg);
        background-repeat:  no-repeat;
        background-position: center;
        background-size: 100% 1000px;
        height: 1000px;
    }
    .text-contents{
        height: 1000px
    }
    .text img{
        width: 350px;
        height: 350px;
    }
    .img{
        width: 350px;
        margin: auto;
    }

/*
    ====================
            広告
    ====================
 */
    .kou{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;
    }
 }
