body,ul,h1,p{
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Mincho Pro';
}
li{
    list-style: none;
}
.site-width{
    width: 980px;
    margin: auto;
}
br.res{
    display: none;
}
.menu{
    width: 40%;
    background: rgba(43, 43, 43, 0.699);
    height: 339px;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    display: none;
}
.menu-ul{
    padding-top: 5px;
}
.menu-ul li{
    border-bottom: solid 1px white;
    margin-top: 15px;
    padding-bottom: 18px;
}
.menu-ul li:last-child{
    border: none;
}
span.comment{
    color: white;
    line-height: 100px;
    margin-right: 25px;
    font-weight: bold;
}
i.fa-bars{
    display: none;
}
i.fa-undo{
    display: none;
}

/*
============================
        ヘッダーCSS
============================
 */
 header{
     height: 100px;
     width :100%;
     position: fixed;
     z-index: 5;
 }
 header.active{
     background: rgba(43, 43, 43, 0.63);
     transition: 0.5s;

 }
 nav.header-nav{
     overflow: hidden;
     float: right;
 }
 ul.header-ul{
     overflow: hidden;
     float: right;
     height: 100px;
 }
 .header-ul li{
     float: left;
     margin-right: 50px;
     font-size: 30px;
     line-height: 100px;
 }
 li a{
     text-decoration: none;
     color: white;
 }
 h1.top-logo{
     display: inline-block;
     padding: 0 0 0 120px;
     line-height: 100px;
     font-size: 55px;
 }
 .top-logo a{
     text-decoration: none;
     color: white;
 }
 .top-logo a:hover{
     color: orange;
 }
 li a:hover{
     color: orange;
 }

/*
===========================
        フッターCSS
===========================
 */
 footer{
     height: 200px;
     background: rgb(43, 43, 43);
     color: white;
     text-align: center;
 }
 ul.footer-nav{
     overflow: hidden;
     display: inline-block;
     margin: auto;
     margin: 45px 0 40px 0;
 }
 .footer-nav li{
     float: left;
     margin-left: 55px;
     border-right: solid 1px white;
     padding-right: 40px;
 }
 .footer-nav li:last-child{
     border: none;
 }
 .footer-nav li a{
     color: white;
 }
 p.footer-coment{
     letter-spacing: 2.5px;
 }
 .scroll-span{
     background: rgb(43, 43, 43);
     font-size: 35px;
     font-weight: bold;
     border-radius: 50%;
     padding: 17px 20px;
     position: relative;
     top: -20px;
     cursor: pointer;
 }
 .footer-nav li a:hover{
     color: orange;
 }
 .scroll-span:hover{
     color: orange;
 }

/*
============================
    プロフィールコンテンツ
============================
 */
.texts-container{
    background-image: url(../img/seapearth-back2.jpg);
    background-size: 100% 1150px;
    background-repeat:  no-repeat;
    background-position: center;
    height: 1150px;
}
.mypage-container{
    display: none;
    background: rgba(10, 10, 10, 0.555);
    height: 1150px;
}
.texts-content{
    padding-top: 150px;
}
.texts-content h1{
    color: rgb(241, 241, 241);
    font-size: 30px;
    border-bottom: solid 2px rgb(241, 241, 241);
}
.text{
    float: left;
    width: 23%;
    box-sizing: border-box;
    color: rgb(241, 241, 241);
    background: rgba(0, 0, 0, 0.678);
    border: solid 1px rgb(241, 241, 241);
    padding: 16px;
    min-height: 465px;
    max-height: 465px;
    margin: 20px 0 0 15px;
    border-radius: 4px;
}
.text img{
    width: 96%;
    height: 200px;
}
.text a{
    text-decoration: none;
    color: orange;
}
.image{
    margin: auto;
    width: 200px;
}
.text-area{
    overflow: auto;
    height: 60px;
}
.scroll{
    overflow: auto;
    height: 800px;
}

/*
=====================
        広告
=====================
 */
 .kou-container{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.63);
    height: 68px;
    box-sizing: border-box;
    z-index: 10;
}
.reskou{
   position: fixed;
   width: 40%;
   margin: auto;
   bottom: 0;
   z-index: 10;
   margin-left: 15%;
   height: 68px;
}
.on{
   display: none;
}



/*
===========================
    レスポンシブ480px
===========================
 */
 @media screen and (max-width: 480px){
    .site-width{
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box;
    }
    br.res{
        display: block;
    }
    i.fa-bars{
       color: white;
       font-size: 30px;
       cursor: pointer;
       z-index: 11;
       position: fixed;
       right: 25px;
       top: 30px;
       display: block;
   }
   i.fa-undo{
       color: white;
       font-size: 30px;
       cursor: pointer;
       z-index: 11;
       position: fixed;
       right: 25px;
       top: 30px;
   }

/*
   =======================
           ヘッダ-
   =======================
*/
    h1.top-logo{
        padding: 0 0 0 17px;
        font-size: 27px;
    }
    ul.header-ul{
        display: none;
   }

/*
   ======================
       フッターCSS
   ======================
*/
   footer{
       height: 300px;
   }
   .footer-nav li{
        margin-left: 25px;
        padding: 14px;
        margin: 0;
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
        width: 25%;
   }

/*
   =========================
           TOPタイトル
   =========================
*/
    .texts-container{
        background-image: url(../img/sea-earth-top.jpg);
        background-repeat:  no-repeat;
        background-position: center;
        background-size: 100% 1000px;
        height: 1000px;
    }
    .texts-content h1{
        padding-left: 10px;
    }
    .text{
        width: 100%;
    }
    .text img{
        width: 152px;
        height: 152px;
        margin-bottom: 15px;
    }
    .image{
        text-align: center;
    }
    .text{
        margin-left: 0;
        min-height: 380px;
    }
/*
    ====================
            広告
    ====================
 */
 .on{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
.res{
    display: none;
}
}
